<% obj.each do |trip| %>
	<div class="row">
		<div class="col-md-8 well">
			<h4><%= link_to trip.name, trip_path(trip) %></h4>
			<h5><%= trip.destination %></h5>
			<div class="pull-right">
				<small>Created by <%= link_to trip.user.name, root_path %>
					<%= time_ago_in_words(trip.created_at) %> ago</small>
			</div>
		</div>
	</div>

<% end %>
